# Embedded scripting languages

The following is a list of reasonably mature or actively developed open source [embedded scripting languages](https://en.wikipedia.org/wiki/Scripting_language) to use in your application. Stretching the definition of a scripting language, it also includes [Datalog](https://en.wikipedia.org/wiki/Datalog) implementations. Items with a strong copyleft license (like the GNU GPL) that will apply to the rest of your code are **emphasized** as a warning.

To sort and filter the list interactively, visit the [webpage](https://dbohdan.github.io/embedded-scripting-languages/). To contribute, go to the [GitHub project](https://github.com/dbohdan/embedded-scripting-languages).

## Contents

{{ toc }}

## List

| Language | Project name/link | Implementated in | GC | License | Notes |
|----------|-------------------|------------------|----|---------|-------|
{% for proj in projects | sort(false, false, "lang") %}
| {{ proj.lang }} | [{{ proj.name }}]({{ proj.url }}) | {{ proj.impl_in }} | {{ proj.gc }} | {{ proj.license }} | {{ proj.notes | safe }} |
{% endfor %}

## See also

* [cwal: Scripting Engine Without A Language](https://fossil.wanderinghorse.net/r/cwal/home).
* [Game scripting languages benchmarked](https://github.com/r-lyeh/scriptorium).
* [Languages that compile to JavaScript](https://github.com/jashkenas/coffeescript/wiki/List-of-languages-that-compile-to-JS).
* [Languages that compile to Lua](https://github.com/hengestone/lua-languages).
* [miniKanren](http://minikanren.org/#implementations) logic programming language implementations.
* [sol](https://github.com/ThePhD/sol2) &mdash; C++ bindings for Lua.

## Contributing

Your contributions are welcome! See [CONTRIBUTING](https://github.com/dbohdan/embedded-scripting-languages/blob/master/CONTRIBUTING.md).

## License

[![CC0](https://i.creativecommons.org/p/zero/1.0/88x31.png)](https://creativecommons.org/publicdomain/zero/1.0/)

## Disclosure

The curator of this document maintains Picol and has contributed to Jim Tcl.
